bokeh==0.12.3
click==6.6
Cython==0.25.1
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.8
jsonpickle==0.9.3
MarkupSafe==0.23
numpy==1.11.2
oauthlib==2.0.0
pandas==0.19.1
pymongo==3.3.1
python-dateutil==2.6.0
pytz==2016.7
PyYAML==3.12
requests==2.12.1
requests-oauthlib==0.7.0
six==1.10.0
tornado==4.4.2
tweepy==3.5.0
uWSGI==2.0.14
virtualenv==15.1.0
Werkzeug==0.11.11
