.nav-content {
    height: 10%;
}

.top-content {

}

.flex-container {
	display: flex;
	align-items: baseline;
}

.flex-container-bottom {
	display: flex;
	align-items: flex-end;
}

#symbol {
	font-family: 'Pier Sans';
    font-weight: 600;
    font-size: 6rem;
    color: #464748;
    text-transform: uppercase;
}

#company {
	font-size: 1.7rem;
	font-weight: 500;
	margin-left: 1.5rem;
}

#price {
	font-family: 'Pier Sans';
    font-weight: 400;
    font-size: 4rem;
}

#currency {
	align-self: flex-start;
}

#ctReqs {
	opacity: 0;
	transition: all 320ms ease-out;
	-webkit-transition: all 320ms ease-out;
	-moz-transition: all 320ms ease-out;
	-webkit-transform: translate(-15px);
	-moz-transform: translate(-15px);
	height: 160px;
}

#ctReqs line {
	stroke: rgba(255, 255, 255, 0.2);
}

#ctReqs path {
	stroke: #f93;
	stroke-width: 2px;
}

#ctReqs .ct-label {
	color: rgba(255, 255, 255, 0.5);
}

#ctReqs .ct-point {
	stroke: #f93;
	margin: 20px;
}

#ctReqs .ct-point:hover {
	stroke-width: 22px;
	transition: all 100ms ease-in-out;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
}




