<!DOCTYPE html>
<html>
<head>

<title>Vestview</title>

	<!--For autofill-->
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"></link>
	<!--End for autofill-->

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link rel="stylesheet" href="{{ url_for('static', filename='./bower_components/chartist/dist/chartist.min.css') }}">

     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">

    <!-- This is the CSS file for the chart *ONLY*
         All relevant fields have a comment preceded with "!!"
    -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/highcharts.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chart.css') }}">
</head>

<body>
	<div class="nav-content">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">
		      	<i class="glyphicon glyphicon-search"></i> Back to Search
		      </a>
		    </div>
		     <!-- hiding this for now <ul class="nav navbar-nav navbar-right">
		        <li><a href="#">Register</a></li>
		       <li class="white-button"><a href="#">Sign In</a></li>
		       <li><img class='logo' src={{ url_for('static', filename='imgs/vestview-logo.png') }}/></li>
		      </ul> -->
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</div>


	<div class="container">
		<div class="row center">
			<div class="col-md-12">
				<div class="top-content">
					<div class="row flex-container-bottom">
						<div class="col-md-4 flex-container top-left">
							<div id="symbol">{{symbol}}</div>
							<div id="company">{{company}}</div>
						</div>
						<div class="col-md-4 col-md-offset-1 flex-container top-middle">
							<div class='status'></div>
							<div id="price">___.__</div>
							<!-- <div id="currency">USD</div> -->

						</div>
						<div class="col-md-3 top-right">
							<div id="shown-date">___ ____, 2016</div>
						</div>
					</div>

					<div class="row chart-bg">
						<div class="chart-container">
							<div id='ct-stocks'></div>
							<div class='timeline-row'>
								<div id='play-pause' class='control-button'>
									<div class='current-control'>
										<div class='pause'>
											<div class='pause-bar'></div>
											<div class='pause-bar'></div>
										</div>
										<div class='play'></div>
									</div>
								</div>
								<div class='axis'>
									<div class='bar'>
										<div class='meta first'>Sunday, Nov 30th</div>
									</div>
									<div class='bar'>
										<div class='meta'>Sun, Nov 30th</div>
									</div>
									<div class='bar'>
										<div class='meta'>Mon, Nov 30th</div>
									</div>
									<div class='bar'>
										<div class='meta'>Tue, Nov 30th</div>
									</div>
									<div class='bar'>
										<div class='meta'>Wed, Nov 30th</div>
									</div>
									<div class='bar'>
										<div class='meta'>Th, Nov 30th</div>
									</div>
									<div class='bar'>
										<div class='meta last'>Fri, Nov 30th</div>
									</div>
								</div>
								<input id="timeline" value='0' type='range' min='0' max='10000'/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Begin news/tweets container-->

	<div class="container">
		<div class="row center">
			<div class="col-md-12">
				<div class="social-media">
					<div class="col-md-5">
						<div class="tweets">
							<div class="tweetbox"></div>
							<div class="tweetbox"></div>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<div class="news">
							<div class="newsbox"></div>
							<div class="newsbox"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- highstock chart <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="stockchart"></div>
            </div>
        </div>
    </div> -->

    <script src={{ url_for('static', filename='./bower_components/jquery/dist/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/bootstrap/dist/js/bootstrap.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/chartist/dist/chartist.min.js') }}></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src={{ url_for('static', filename='./bower_components/moment/moment.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/velocity/velocity.min.js') }}></script>

    <!-- <script src={{ url_for('static', filename='./bower_components/highcharts/js/highstock.js') }}></script> -->
    <script src={{ url_for('static', filename='js/chart.js') }}></script>

    <script type="text/javascript">
      var symbol = '{{symbol}}';
      var data = {{data | tojson}};
	  var tweets = {{tweets | tojson}};
      var articles = {{articles | tojson}};
    </script>
    <!--
    <script src={{ url_for('static', filename='./bower_components/d3/d3.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/crossfilter/crossfilter.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/dcjs/dc.min.js') }}></script>
    -->
</body>
</html>
