<!DOCTYPE html>
<html>
<head>
	<title>Vestview</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">

    <!-- This is the CSS file for the chart *ONLY*
         All relevant fields have a comment preceded with "!!"
    -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/highcharts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chart.css') }}">
</head>

<body>

    <!-- #top-half div used for background color-->
    <div id="top-half">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Search</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- HighStocks chart will be inserted here -->
                    <div id="stockchart"></div>
                </div>
            </div>
        </div><!-- /.container -->
    </div><!-- /#top-half -->


    <script src={{ url_for('static', filename='./bower_components/jquery/dist/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/bootstrap/dist/js/bootstrap.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/highcharts/js/highstock.js') }}></script>
    <script src={{ url_for('static', filename='js/chart.js') }}></script>
    <script type="text/javascript">
      var data = {{data | tojson}};
    </script>
    <!--
    <script src={{ url_for('static', filename='./bower_components/d3/d3.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/crossfilter/crossfilter.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/dcjs/dc.min.js') }}></script>
    -->
</body>
</html>
